jupyter-book
git+https://github.com/TeachBooks/Sphinx-Thebe
matplotlib
numpy
pandas
plotly
seaborn
econml
causalml
ipython
ipykernel
ipywidgets
teachbooks == 0.2.2
sphinx-inline-tabs
# Temporarily commented out to fix build issue with sphinx-multitoc-numbering
# git+https://github.com/TeachBooks/TeachBooks-Favourites
teachbooks-sphinx-grasple
sympy